<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Cartão de Identificação </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="profile">
      <img src="assets/foto.jpeg" alt="my photo" />
      <h1><i class="fas fa-code"></i> Matheus Teixeira Pimentel</h1>
      <h2>Aspirante a Desenvolvedor de Software</h2>
      <p>Código da Turma: [PAS23103] (2025-2-PAS23103-CG-ADS0301N)</p>
    </div>

    <div class="button-container">
      <ion-button expand="block" class="custom-btn" routerLink="/sobre">
        Sobre
      </ion-button>
    </div>
  </div>
</ion-content>
