<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> 🪪 Cartão de Identificação </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <img src="assets/foto.jpeg" alt="my photo" />
    <h1><i class="fas fa-code"></i> Matheus Teixeira Pimentel</h1>
    <h3>Aspirante a Desenvolvedor de Software</h3>
    <p>Código da Turma: 24100760</p>
  </div>

  <div class="button-container">
    <ion-button
      expand="block"
      class="custom-btn"
      routerLink="/sobre"
    >
      Sobre
    </ion-button>
  </div>
</ion-content>
