ion-content {
  --background: linear-gradient(to right, #a02525, #191a1a);
  font-family: "Trebuchet MS";
  color: #ccc;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 20px;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  animation: bounce 2s infinite;
  margin-bottom: 20px;
}

.profile h1 {
  font-size: 22px;
  margin: 10px 0;
}

.profile h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ddd;
}

.profile p {
  font-size: 16px;
  margin-bottom: 30px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.custom-btn {
  --background: #ccc;
  --color: #191a1a;
  font-size: 20px;
  border-radius: 10px;
  width: 40vw;
  padding: 10px;
  text-transform: none;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

@keyframes bounce {
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .custom-btn {
    width: 85%; /* ocupa quase toda a largura */
    font-size: 18px;
  }
}
